<form class="d-flex flex-column m-auto mt-5 w-50" [formGroup]="loginForm">
    <div class="form-group mb-3">
      <label for="mail">Correo</label>
      <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Ingresa tu correo" [class]="{'is-invalid': !loginForm.get('mail')?.valid && loginForm.get('mail')?.touched}" formControlName="mail">
      <div class="invalid-feedback">
          Este campo es requerido
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Contraseña" [class]="{'is-invalid': !loginForm.get('password')?.valid && loginForm.get('password')?.touched}"  formControlName="password">
      <div class="invalid-feedback">
          Este campo es requerido
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Iniciar Sesión</button>
    <a routerLink="/registrar">Registrarse</a>
  </form>