<form class="d-flex flex-column m-auto mt-5 w-50" [formGroup]="registroForm">
    <div class="form-group mb-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name"
            [class]="{'is-invalid': !registroForm.get('name')?.valid && registroForm.get('name')?.touched}">
        <div class="invalid-feedback">
            Este campo es requerido
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="phone">Teléfono</label>
        <input type="text" class="form-control" id="phone" placeholder="Número telefónico" formControlName="phone" [class]="{'is-invalid': !registroForm.get('phone')?.valid && registroForm.get('phone')?.touched}">
        <div class="invalid-feedback">
            Este campo es requerido
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="mail">Correo</label>
        <input type="email" class="form-control " id="mail" aria-describedby="emailHelp" placeholder="Ingresa tu correo"
            formControlName="mail" [class]="{'is-invalid': !registroForm.get('mail')?.valid && registroForm.get('mail')?.touched}">
        <div class="invalid-feedback">
            Este campo es requerido
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="password" [class]="{'is-invalid': !registroForm.get('password')?.valid && registroForm.get('password')?.touched}">
        <div class="invalid-feedback">
            Este campo es requerido
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="registerUser()" [disabled]="!registroForm.valid">Crear cuenta</button>
    <a routerLink="/login">Volver</a>
</form>